.d-flex-custom{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: .7rem;
}

@media screen and (min-width: 450px){
  .d-flex-custom{
    flex-direction: row;
  }
}

.image-foods{
  min-height: 318px;
  object-fit: cover;
}